.bg-primar1 {
  background-color: #94618e;
}
.bg-primary3 {
  background-color: #f8eee7;
}
body {
  font-family: 'Alegreya Sans', 'Lato', Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
body p,
body ul,
body li,
body span,
body i,
body a {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}
a.navbar-brand {
  display: flex;
  align-items: center;
}
button.navbar-toggler.navbar-toggler-right.hidden-lg-up.collapsed {
  top: 1em;
}
i.fas.fa-user,
i.fas.fa-circle {
  color: white;
  font-size: 3em;
}
.awan-tag-text {
  color: #fff;
  font-size: 1em;
}
.awana-nav-title {
  color: #fff;
  font-size: 3em;
}
a.nav-link {
  color: black;
}
a.nav-link:hover {
  color: #808080;
}
.btn-outline-primary,
.btn-primary {
  color: #94618e;
  background-image: none;
  background-color: transparent;
  border-color: #94618e;
}
.btn-outline-primary:hover,
.btn-primary:hover {
  color: #fff;
  background-color: #be9dba;
  border-color: #94618e;
}
.main {
  height: 100%;
  min-height: 100vh;
  padding-top: 7rem;
}
#awanaAppHomePage .container-fluid {
  display: flex;
  height: 60vh;
  padding-top: 80px;
  justify-content: center;
  margin: auto;
  align-items: center;
}
#awanaAppHomePage .container-fluid h1 {
  border: none;
}
#awanaAppHomePage .container-fluid .col-sm-12 {
  width: 60vw;
}
#awanaAppHomePage .container-fluid button {
  margin: 3rem 0;
}
#badgesData {
  width: 100%;
}
#badgesData .smallImg ul {
  display: flex;
  height: 50vh;
  list-style: none;
  align-items: center;
}
