#awanaAppHomePage {
  .container-fluid {
    display: flex;
    height: 60vh;
    padding-top: 80px;
    justify-content: center;
    margin: auto;
    align-items: center;
    h1 {
      border: none;
    }
    .col-sm-12 {
      width: 60vw;
    }
    button {
      margin: 3rem 0;
    }
  }
}
